.name{

  font-size: 40px;
  padding-top:10px;
  font-weight: bold;
}
.sound{
  font-size: 20px;
  color: #FFCA28;
  font-weight: bold;
}
.wrapper{
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.head_list{
  width:1200px;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}

.button{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 3px;
    transition: 0.07s;
    /* :hover
        background-color:  */
    }
.playing{
    border: 3px solid #FFC600;
    
  }

/* 
.App-header {
  background: url('../images/background');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
} */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dbdfe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
